body{
    margin: 0px;
    background-color: lightcyan;
}

h2{
	color: #a52a2a;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
}

h6{
	color: #800000;
    font-family: 'Montserrat', sans-serif;
	margin-top: 0px;
	text-align: center;
}

.header{
    background-color: #E3F9F4;
}

.soalogo{
	display: block;
	margin-left: auto;
	margin-right: auto;
    padding-top: 25px;
}

.head{
	background-image: url('SOA.jpg');
	background-size: 1700px 1700px;
	background-repeat: no-repeat;
	color: white;
	padding-top: 20px;
    padding-left: 56px;
    margin-bottom: 0px;
    }

.btn {
    background: #146da8;
    background-image: -webkit-linear-gradient(top, #146da8, #135680);
    background-image: -moz-linear-gradient(top, #146da8, #135680);
    background-image: -ms-linear-gradient(top, #146da8, #135680);
    background-image: -o-linear-gradient(top, #146da8, #135680);
    background-image: linear-gradient(to bottom, #146da8, #135680);
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 13px;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    border: none;
}

.btn:hover {
    background: #308dc7;
    background-image: -webkit-linear-gradient(top, #308dc7, #2977ab);
    background-image: -moz-linear-gradient(top, #308dc7, #2977ab);
    background-image: -ms-linear-gradient(top, #308dc7, #2977ab);
    background-image: -o-linear-gradient(top, #308dc7, #2bc4ab);
    background-image: linear-gradient(to bottom, #308dc7, #2977ab);
    text-decoration: none;
    cursor: pointer;
}

.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: grey; 
}

.li {
    float: left;  
}

.li a {
    display: block;
    color: black;
    padding: 12px 15px;
    text-decoration: none;
}

.li a:hover {
    background-color: lightskyblue;
}

.searchbar{
	margin-left: 600px;
    padding: 5px;
}

.btnNavigation {
    background: #146da8;
    background-image: -webkit-linear-gradient(top, #146da8, #135680);
    background-image: -moz-linear-gradient(top, #146da8, #135680);
    background-image: -ms-linear-gradient(top, #146da8, #135680);
    background-image: -o-linear-gradient(top, #146da8, #135680);
    background-image: linear-gradient(to bottom, #146da8, #135680);
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 13px;
    margin-left: 20px;
    padding: 15px 10px 15px 10px;
    text-decoration: none;
    border: none;
}

.btnNavigation:hover {
    background: #308dc7;
    background-image: -webkit-linear-gradient(top, #308dc7, #2977ab);
    background-image: -moz-linear-gradient(top, #308dc7, #2977ab);
    background-image: -ms-linear-gradient(top, #308dc7, #2977ab);
    background-image: -o-linear-gradient(top, #308dc7, #2bc4ab);
    background-image: linear-gradient(to bottom, #308dc7, #2977ab);
    text-decoration: none;
}



.top{
    background-color: paleturquoise;

}

.h{
    text-align: center;
    padding-top: 20px;
    padding-bottom:0px ;
}

.image {
    float: left;
    margin: 30px;
    margin-top: 10px;
    padding: 50px 70px 0px 100px;
    background-color: #fffaf0;

}

.image p {
    text-align: justify;
}

.image:hover{
    background-color: #f8f8ff;
    cursor: pointer;
}


.bottom{
    padding-right: 100px;
    padding-left: 200px;
    padding-top: 2px;
    padding-bottom: 300px;
    background-color: hotpink;
}


.lef{
    float: left;
    margin-left: 100px;
    margin-right: 0px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 25px;
    background-color: #808080;
}

.lef:hover{
    background-color: white;
    cursor: pointer;